:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #FFF7EE !important;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.63);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFF7EE;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FFF7EE;
  }
}
