@use 'sass:math';

// Define variables for your breakpoints,
// values must be the same as in your theme
$breakpoint-xs: '36em';
$breakpoint-sm: '48em';
$breakpoint-md: '62em';
$breakpoint-lg: '75em';
$breakpoint-xl: '88em';

/* For light mode */
:root[data-mantine-color-scheme="light"] body {
  --mantine-color-body: whitesmoke;
  --header-background-color: white;
  --card-background-color: white;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] body {
  --mantine-color-body: #282827;
  --header-background-color: #333333;
  --card-background-color: #333333
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme='light'] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme='dark'] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin smaller-than($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin larger-than($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir='rtl'] & {
    @content;
  }
}

@mixin ltr {
  [dir='ltr'] & {
    @content;
  }
}
